@charset "UTF-8";
*{margin:0px; padding:10px;}
body {
	background-color:white;
font-family:Avenir;
}

h1{font-size:24px;
margin-bottom:10px;}

p{font-size:16px;}

img6,img7,img8,img9,img10{float:left;}
p{ width: 400px;
	float:left;}

#bagitems
{float:up;}

h2
{float:left;
font-size:30;}

section#sketchbookoverlay {
     font-size: 40px;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 700px;
     background-color: rgba(50, 50, 50, .8);
	  visibility: hidden;
   }
   
   section#sketchbookoverlay p {
     text-align:left;
     position: relative;
     top: 200px;
   }
   
   section#sketchbookoverlay nav#close {
     position: absolute;
     right: 50px;
     top: 50px;
     width: 50px;
     height: 55px;
     border: 1px white solid;
     text-align: center;
   }
   
   section#sketchbookoverlay nav#close:hover {
     background-color: orange;
   }

/*ORANGE*/

	
section#orangeoverlay {
     font-size: 40px;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 700px;
     background-color: rgba(50, 50, 50, .8);
     visibility: hidden;
   }
   
   section#orangeoverlay p {
     text-align:left;
     position: relative;
     top: 200px;
   }
   
   section#orangeoverlay nav#close {
     position: absolute;
     right: 50px;
     top: 50px;
     width: 50px;
     height: 55px;
     border: 1px white solid;
     text-align: center;
   }
   
   section#orangeoverlay nav#close:hover {
     background-color: orange;
   }

/*WATERBOTTLE*/

	
section#bottleoverlay {
     font-size: 40px;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 700px;
     background-color: rgba(50, 50, 50, .8);
     visibility: hidden;
   }
   
   section#bottleoverlay p {
     text-align:left;
     position: relative;
     top: 200px;
   }
   
   section#bottleoverlay nav#close {
     position: absolute;
     right: 50px;
     top: 50px;
     width: 50px;
     height: 55px;
     border: 1px white solid;
     text-align: center;
   }
   
   section#bottleoverlay nav#close:hover {
     background-color: orange;
   }

/*PHONE*/

	
section#phoneoverlay {
     font-size: 40px;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 700px;
     background-color: rgba(50, 50, 50, .8);
     visibility: hidden;
   }
   
   section#phoneoverlay p {
     text-align:left;
     position: relative;
     top: 200px;
   }
   
   section#phoneoverlay nav#close {
     position: absolute;
     right: 50px;
     top: 50px;
     width: 50px;
     height: 55px;
     border: 1px white solid;
     text-align: center;
   }
   
   section#phoneoverlay nav#close:hover {
     background-color: orange;
   }

/*HEADPHONES*/

	
section#headphonesoverlay {
     font-size: 40px;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 700px;
     background-color: rgba(50, 50, 50, .8);
     visibility: hidden;
   }
   
   section#headphonesoverlay p {
     text-align:left;
     position: relative;
     top: 200px;
   }
   
   section#headphonesoverlay nav#close {
     position: absolute;
     right: 50px;
     top: 50px;
     width: 50px;
     height: 55px;
     border: 1px white solid;
     text-align: center;
   }
   
   section#headphonesoverlay nav#close:hover {
     background-color: orange;
   }